  name: Travel Memory App with Github Workflow
  on:
    push:
      branches: ["main"]

  jobs:
    build_and_test:
      runs-on: ubuntu-latest
      steps:
        - name: checkout code
          uses: actions/checkout@v4
        - name: setup of node
        
